.idea
.vscode


conf/app.debug.ini
conf/app.release.ini

attack/__pycache__
attack/sa/__pycache__
attack/csa/__pycache__
attack/nli/__pycache__
attack/qqp/__pycache__

conf/__pycache__
utils/__pycache__

user_model.zip
user_model
data
datasets

private.pem
