.mainContent {
    max-width: 1200px;
    margin: auto;
}

.mainContent .divider {
    font-size: 25px;
    margin-top: 40px;
}

.mainContent .card-content {
    display: flex;
    flex-direction: column;
}

.mainContent .card-content .card-title {
    display: flex;
}

.mainContent .card-content .card-title .task-item-title {
    font-size: 20px;
    word-wrap: break-word;
    word-break: normal;
    margin-left: 25px;
    font-weight: bold;
}

.mainContent .card-content .task-item-description {
    margin-top: 10px;
    color: gray;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
