.task-card {
}

.task-card .task-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.task-card .task-description {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.task-card .task-content {
    margin-bottom: 20px;
}
