.footer-bar {
}

.footer-bar .title {
    font-family: 'Times New Roman', Times, serif;
}

.footer-bar .right {
    float: right;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.footer-bar .right .right-span {
    cursor: pointer;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}
