.need-login .login{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgba(128, 128, 128, 0.38);
    text-align: center;
    background-color: rgba(246, 246, 246, 0.68);
    cursor: pointer;
    padding: 150px;
}

.need-login .login:hover{
    background-color: rgb(246, 246, 246);
}
