.main-layout {
    min-height: 100vh;
}

.main-layout .header {
    background-color: white;
    height: 65px;
}

.main-layout .header .logo {
    font-size: 45px;
    font-weight: bold;
    float: left;
}

.main-layout .header .menu {
    margin-left: 40%;
}

.main-layout .header-title {
    font-size: 18px;
    font-weight: 500;
}

.main-layout .main-content {
    padding: 20px;
    margin-bottom: 30px;
}

.main-layout .footer {
    border-top: 1px solid rgb(209, 209, 209);
}
