.task-layout {
    max-width: 1200px;
    margin: auto;
}

.task-layout .task-content {
    margin-left: 10px;
}

.task-layout .trigger {
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.task-layout .trigger .trigger-icon {
    font-size: 20px;
    margin: 5px;
}
